@import url('https://fonts.googleapis.com/css?family=Asap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #25272E;
}

header{
	background-color: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	font-family: 'Asap', sans-serif;
	text-align: center;
	font-size: 40px;
}

#contenu {
	text-align: center;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.application {
	border: 3px solid white;
	margin: 30px;
	border-radius: 3px
}